* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    background: #000;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mySelect {
  text-align-last: center;
  -webkit-appearance: none; /* 移除默认样式 */
  -moz-appearance: none;    /* 移除默认样式 */
  appearance: none;          /* 移除默认样式 */
  background-color: #fff;    /* 背景颜色 */
  border: 1px solid #aaa;    /* 边框样式 */
  padding-left: 10px;        /* 内边距，可根据需要调整 */
  padding-right: 10px;       /* 内边距，可根据需要调整 */
  height: 38px;
  width: 70px;
  font-size: 16px;
}

#main {
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#player {
    width: 100%;
    height: auto;
    max-height: 100%;
}

#buttons {
    height: 60px;
    padding: 10px;
}

#switch,
#next {
    background: #FFF;
    background: linear-gradient(to bottom, #FF2,#FB0);
    color: #AF2E08;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    padding: 0px 20px;
    margin: 0px 5px;
    border-radius: 20px;
}

#down{
    background: #FFF;
    background: linear-gradient(to bottom, #FF2,#FB0);
    color: #AF2E08;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    padding: 10px 20px;
    margin: 0px 5px;
    border-radius: 20px;
}

#down a{
    color: #AF2E08;
    text-decoration: none;
}

#down a:visited{
    color: #AF2E08;
}