@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #ccf3eb;
  background-image: url(https://jihulab.com/free163/kkkk.pw/-/raw/c04c2191b3c14af1920f5742dbce906e648c3594/pc/index/bee2/images/bg1.jpg);
  background-size: 100% 100%;
  overflow: hidden;
  position: relative;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  color: #707070;
  font-size: 15px;
}

.btn {
  cursor: pointer;
  background-color: transparent;
  padding: 5px 10px 0px 0px;
  border: none;
  color: #FFFFFF;
  font-size: 15px;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: inherit;
  color: #eeaa00;
}

.controls {
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  display: flex;
  justify-content: center;
  z-index: 2;
}


.active {
  color: #eeaa00;
  pointer-events: none;
}