/*
Alittle bit of chaos here... debug in progress
*/
* {
	box-sizing: border-box;
	transform-style: preserve-3d;
	/*animation: none !important;*/
}

body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.content {
	perspective: 100vmin;
	transform-style: preserve-3d;
}

.sky {
	background: radial-gradient(
			circle at 50vw 35vh,
			#ffc107 5%,
			rgb(255 193 7 / 64%) 10%,
			rgb(253 50 41 / 50%) 25%,
			rgb(243 0 0 / 40%) 30%,
			rgb(93 0 0 / 0%) 100%
		),
		linear-gradient(180deg, #673ab7, #ffb900 80%, #fff0 100%);
	width: 100vw;
	height: 35vh;
	position: absolute;
	left: 0;
	top: 0;
}
.sky:after {
	content: "";
	width: 100%;
	height: 5vmin;
	position: absolute;
	background: linear-gradient(
		to top,
		rgba(0, 25, 45, 1) 0%,
		rgba(14, 71, 117, 1) 35%,
		rgba(26, 126, 174, 1) 70%,
		rgba(62, 168, 220, 1) 100%
	);
	bottom: 0;
	box-shadow: 0 6px 6px -6px #ffc107 inset;
}

/*
.water {
  background: 
  height: 50vh;
  overflow: hidden;
  position: relative;
}
.water:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: repeating-linear-gradient(175deg,rgba(165,165,165,0.08) 45%, rgba(175,175,175,0.08) 47%, rgba(235,235,235,0.08) 50%, rgba(195,195,195,0.08) 54%, rgba(165,165,165,0.08) 57%), linear-gradient(to left top, rgba(0,0,0,0.0) 10%,rgba(0,0,0,0.20) 44%,rgba(0,0,0,0.65) 95%,rgba(0,0,0,0.62) 100%);
  opacity: 0.5;
  box-shadow: 0 6px 6px -6px #ffc107 inset;
  animation: ocean 15s infinite;
}
*/

.ground {
	background: linear-gradient(
		to top,
		#0a190b 0%,
		#255226 36%,
		#8bc34a 98%,
		#1e6f20b3 100%
	);
	width: 300vw;
	height: 70vh;
	position: absolute;
	left: -100vw;
	top: 30vh;
	border-radius: 100% 100% 0 0;
}

.road {
	background: linear-gradient(0deg, #6d6d6d, #eae5d6);
	width: 25vw;
	height: 70vh;
	position: absolute;
	top: 30vh;
	left: 35vw;
	transform: rotateX(90deg);
	transform-origin: center top;
	border-radius: 1% 1% 0 0;
	animation: roadview 10s ease-in-out 0s infinite alternate;
	border: 0.25vmin solid #75747470;
	border-top: 0;
	border-bottom: 0;
}

@keyframes roadview {
	0% {
		left: 49vw;
	}
	10% {
		left: 48vw;
	}

	40% {
		left: 40vw;
	}
	70% {
		left: 30vw;
	}

	90% {
		left: 19vw;
	}
	100% {
		left: 18vw;
	}
}

.road:before,
.road:after {
	content: "";
	width: 1vmin;
	height: 100%;
	background: #ffffffba;
	position: absolute;
	left: 1.25vmin;
}

.road:after {
	left: initial;
	right: 1.25vmin;
}

.line {
	width: 1vmin;
	height: 100%;
	background: repeating-linear-gradient(0deg, #fff 0 25%, transparent 0 50%);
	position: absolute;
	left: calc(50% - 0.625vmin);
	animation: gradient 2s linear 0s infinite;
	background-size: 1vmin 20vmin;
	background-position: 50% 0%;
}

@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 0% 100%;
	}
}

.van {
	/*background: #ccc;*/
	width: 16vw;
	height: 26vmin;
	position: absolute;
	bottom: 0vmin;
	bottom: -3vh;
	z-index: 22222;
	transform: translateZ(4.15vmin) translateY(-8vmin) rotateZ(0deg);
	transform-style: preserve-3d;
	perspective: 100vmin;
	--height: 16;
	--width: 8;
	--depth: 6;
	--hue: 0;
	--sat: 60%;
	height: calc(var(--height) * 1vmin);
	width: calc(var(--width) * 1vmin);
	perspective-origin: center;
	left: calc(50% - -3vmin);
	animation: vanmove 3s ease 0s infinite alternate;
}

@keyframes vanmove {
	0% {
		transform: translateZ(4.15vmin) translateY(-8vmin) rotateZ(0deg) rotateY(1deg);
	}
	20% {
		transform: translateZ(4.15vmin) translateY(-8vmin) rotateZ(1deg) rotateY(0deg);
	}
	40% {
		transform: translateZ(4.15vmin) translateY(-8vmin) rotateZ(0deg)
			rotateY(-1deg);
	}
	60% {
		transform: translateZ(4.15vmin) translateY(-8vmin) rotateZ(-1deg)
			rotateY(0deg);
	}
	80% {
		transform: translateZ(4.15vmin) translateY(-8vmin) rotateZ(0deg) rotateY(1deg);
	}
	100% {
		transform: translateZ(4.15vmin) translateY(-8vmin) rotateZ(1deg) rotateY(0deg);
	}
}

.line + .van:before {
	background: #333;
	width: 98%;
	height: 60%;
	position: absolute;
	content: "";
	top: 39%;
	left: 1%;
	background-color: #026873;
	background-image: linear-gradient(
			90deg,
			rgba(255, 255, 255, 0.07) 50%,
			transparent 50%
		),
		linear-gradient(90deg, rgba(255, 255, 255, 0.13) 50%, transparent 50%),
		linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.17) 50%),
		linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.19) 50%);
	background-size: 1vmin, 1.5vmin, 1.8vmin, 2.2vmin;
}

.side {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 100%;
	width: 100%;
	border-radius: 0.25vmin;
}

.side:nth-of-type(1) {
	transform: translate3d(-50%, -45%, calc(var(--depth) * 0.5vmin));
	background: hsl(var(--hue), var(--sat), 50%);
	height: 91%;
}
.side:nth-of-type(2) {
	transform: translate3d(-50%, -50%, calc(var(--depth) * -0.5vmin))
		rotateY(180deg);
	background: hsl(var(--hue), var(--sat), 35%);
}
.side:nth-of-type(3) {
	width: calc(var(--depth) * 1vmin);
	transform: translate(-50%, -50%) rotateY(90deg)
		translate3d(0, 0, calc(var(--width) * 0.5vmin));
	background: linear-gradient(
			0deg,
			transparent 0% 38%,
			#000 0% 38.25%,
			transparent 38.5% 69%,
			#000 69.25%,
			transparent 69.45% 100%
		),
		hsl(var(--hue), var(--sat), 40%);
	clip-path: polygon(
		0 10%,
		45% 5%,
		60% 0,
		100% 0%,
		100% 100%,
		4% 100%,
		4% 98%,
		45% 98%,
		45% 9%,
		7% 13%,
		7% 100%,
		0% 100%
	);
}
.side:nth-of-type(4) {
	width: calc(var(--depth) * 1vmin);
	transform: translate(-50%, -50%) rotateY(90deg)
		translate3d(0, 0, calc(var(--width) * -0.5vmin));
	background: linear-gradient(
			180deg,
			transparent 0% 30.1%,
			#000 0% 30.5%,
			transparent 31% 100%
		),
		hsl(var(--hue), var(--sat), 60%);
	clip-path: polygon(
		0 10%,
		45% 5%,
		60% 0,
		100% 0%,
		100% 100%,
		4% 100%,
		4% 98%,
		45% 98%,
		45% 9%,
		7% 13%,
		7% 100%,
		0% 100%
	);
}
.side:nth-of-type(5) {
	height: calc(var(--depth) * 0.5vmin);
	transform: translate(-50%, -50%) rotateX(75deg)
		translate3d(0vmin, -0.3vmin, calc(var(--height) * 0.435vmin)) rotate(180deg);
	background: hsl(var(--hue), var(--sat), 70%);
	clip-path: polygon(
		0% 0%,
		0% 100%,
		5% 100%,
		5% 11%,
		95% 10%,
		95% 90%,
		5% 90%,
		5% 100%,
		100% 100%,
		100% 0%
	);
}
.side:nth-of-type(6) {
	height: calc(var(--depth) * 0.19vmin);
	transform: translate(-50%, -50%) rotateX(-135deg)
		translate3d(0vmin, 5.5vmin, calc(var(--height) * -0.3275vmin));
	background: hsl(var(--hue), var(--sat), 70%);
	border-radius: 0.15vmin;
}
.side:nth-of-type(7) {
	height: calc(var(--depth) * 1vmin);
	transform: translate(-50%, -50%) rotateX(-90deg)
		translate3d(0, 0, calc(var(--height) * 0.5vmin));
	background: hsl(var(--hue), var(--sat), 30%);
	clip-path: polygon(
		0% 0%,
		0% 100%,
		5% 100%,
		5% 5%,
		95% 5%,
		95% 45%,
		5% 45%,
		5% 100%,
		100% 100%,
		100% 0%
	);
}

.side:nth-of-type(6):before {
	width: 100%;
	height: 220%;
	position: absolute;
	content: "";
	background: hsl(var(--hue), var(--sat), 57%);
	bottom: -15%;
	transform: rotateX(45deg) translate3d(0vmin, 2vmin, -0.8vmin);
	border-radius: 0.1vmin;
}

/* front-back glass */
.side:nth-of-type(1):before,
.side:nth-of-type(1):after {
	content: "";
	width: 91%;
	height: 16.5%;
	background: linear-gradient(
			45deg,
			transparent 0 30%,
			#ffffff30 31% 35%,
			transparent 36% 40%,
			#ffffff20 41% 43%,
			transparent 42% 50%
		),
		#03a9f442;
	z-index: 2;
	float: left;
	transform: rotateX(90deg) translate3d(5%, -1.55vmin, -13.35vmin);
	bottom: 0;
}

/* front glass */
.side:nth-of-type(1):after {
	transform: rotateX(75deg) translate3d(4.5%, -2.4vmin, 3.35vmin);
	height: 17%;
}

.side:nth-of-type(2):before,
.side:nth-of-type(2):after {
	content: "";
	width: 30%;
	height: 89%;
	background: linear-gradient(
			0deg,
			transparent 0% 40.9%,
			#0004 0% 41.5%,
			transparent 41.85% 75.5%,
			#0007 76.25%,
			transparent 69.45% 100%
		),
		linear-gradient(
			-25deg,
			transparent 0 9%,
			#ffffff20 10% 12%,
			transparent 12% 14%,
			#ffffff20 15% 17%,
			transparent 18% 20%
		),
		linear-gradient(
			0deg,
			#03a9f442 0 40%,
			hsl(var(--hue), var(--sat), 35%) 0 43%,
			#03a9f442 0% 75%,
			hsl(var(--hue), var(--sat), 35%) 0% 78%,
			#03a9f442 0% 100%
		);
	z-index: 2;
	float: left;
	transform: rotateX(0deg) rotateY(90deg)
		translate3d(4.5vmin, 1.5vmin, -1.15vmin);
	bottom: 0;
}
.side:nth-of-type(2):after {
	transform: rotateX(0deg) rotateY(90deg)
		translate3d(4.5vmin, 1.5vmin, 4.425vmin);
	background: linear-gradient(
			180deg,
			transparent 0% 23.5%,
			#0008 0% 24%,
			transparent 24.5% 100%
		),
		linear-gradient(
			-25deg,
			transparent 0 9%,
			#ffffff20 10% 12%,
			transparent 12% 14%,
			#ffffff20 15% 17%,
			transparent 18% 20%
		),
		linear-gradient(
			0deg,
			#03a9f442 0 40%,
			hsl(var(--hue), var(--sat), 60%) 0 43%,
			#03a9f442 0% 75%,
			hsl(var(--hue), var(--sat), 60%) 0% 78%,
			#03a9f442 0% 100%
		);
}

.van.shadow {
	transform: translate3d(0vmin, -9vmin, 0vmin);
	background: #00000080;
	filter: blur(8px);
	animation: none;
}

.van.wheels div,
.van.wheels div span {
	background: radial-gradient(#121212 0% 30%, #333 0 55%, #fff 60%, #333 65%);
	width: 2.75vmin;
	height: 3vmin;
	position: absolute;
	transform: rotateY(90deg) translate3d(3vmin, 2.5vmin, -1.65vmin);
	border-radius: 90% 100%;
	box-shadow: 0 0 2px 0 #111 inset;
}

.van.wheels div {
	animation: wheelspin 0.25s linear 0s infinite alternate;
}

.van.wheels div span {
	transform: rotateY(0deg) translate3d(0vmin, 0vmin, 0.05vmin);
	background: #333;
	width: 100%;
	height: 100%;
}
.van.wheels div span:nth-child(2) {
	transform: rotateY(0deg) translate3d(0vmin, 0vmin, 0.1vmin);
}
.van.wheels div span:nth-child(3) {
	transform: rotateY(0deg) translate3d(0vmin, 0vmin, 0.15vmin);
}
.van.wheels div span:nth-child(4) {
	transform: rotateY(0deg) translate3d(0vmin, 0vmin, 0.2vmin);
}
.van.wheels div span:nth-child(5) {
	transform: rotateY(0deg) translate3d(0vmin, 0vmin, 0.25vmin);
}
.van.wheels div span:nth-child(6) {
	transform: rotateY(0deg) translate3d(0vmin, 0vmin, 0.3vmin);
}
.van.wheels div span:nth-child(7) {
	transform: rotateY(0deg) translate3d(0vmin, 0vmin, 0.35vmin);
}
.van.wheels div span:nth-child(8) {
	transform: rotateY(0deg) translate3d(0vmin, 0vmin, 0.4vmin);
}
.van.wheels div span:nth-child(9) {
	transform: rotateY(0deg) translate3d(0vmin, 0vmin, 0.45vmin);
}
.van.wheels div span:nth-child(10) {
	transform: rotateY(0deg) translate3d(0vmin, 0vmin, 0.5vmin);
}

.van.wheels div:nth-child(2) {
	transform: rotateY(-90deg) translate3d(-3vmin, 2.5vmin, -7vmin);
}
.van.wheels div:nth-child(3) {
	transform: rotateY(90deg) translate3d(3vmin, 11vmin, -1.65vmin);
	animation-delay: 0.1s;
}
.van.wheels div:nth-child(4) {
	transform: rotateY(-90deg) translate3d(-3vmin, 11vmin, -7vmin);
}

@keyframes wheelspin {
	0% {
		width: 2.75vmin;
	}
	100% {
		width: 2.675vmin;
	}
}

/*porton*/
/*
.side:nth-of-type(7):before {
    background: #fff;
    content: "6543BR";
    position: absolute;
    bottom: 1.75vmin;
    font-size: 0.5vmin;
    border-left: 0.5vmin solid #2121ff;
    left: calc(50% - 1.25vmin);
    min-width: 2.5vmin;
    box-sizing: border-box;
    box-shadow: 0.025vmin -0.1vmin 0 0vmin #000;
}
*/

.side:nth-of-type(7):after {
	background: #292929;
	content: "";
	position: absolute;
	bottom: 2.5vmin;
	left: calc(50% - 0.3vmin);
	width: 0.25vmin;
	height: 0.2vmin;
	border-radius: 5px;
	border: 1px solid #000;
	box-shadow: 0 0 1px 0 #000;
}

/*** SIGNAL BEACH ***/
.signal {
	background: #28a0ff;
	width: 10vmin;
	height: 5vmin;
	position: absolute;
	right: -12vmin;
	transform: rotateX(-90deg) translate3d(2vmin, 0, -100vmin);
	border-radius: 0.35vmin;
	border: 0.35vmin solid #e7fcff;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	font-weight: bold;
	font-size: 1.75vmin;
	padding: 1vmin 0.5vmin;
	text-align: center;
	animation: signalview 14s linear 0s infinite;
}

@keyframes signalview {
	0%,
	20% {
		transform: rotateX(-90deg) translate3d(2vmin, 0, -100vmin);
	}
	20% {
		transform: rotateX(-90deg) translate3d(2vmin, 0, -27vmin);
	}
	40%,
	100% {
		transform: rotateX(-90deg) translate3d(2vmin, 0, 100vmin);
	}
}

.signal:before,
.signal:after {
	content: "";
	background: linear-gradient(90deg, #ccc, #666, #333, #212121, #121212, #333);
	width: 1vmin;
	height: 5vmin;
	position: absolute;
	top: 4.6vmin;
	border-radius: 0 0 0.15vmin 0.15vmin;
}

.signal:after {
	right: 1.15vmin;
}

.signal span {
	width: 10vmin;
	height: 5vmin;
	position: absolute;
	top: 4.5vmin;
	border-radius: 0.35vmin;
	border-top: 5vmin solid black;
	background: linear-gradient(
		90deg,
		transparent 0 17%,
		#000 0% 26%,
		#fff0 0% 75%,
		#000 0% 84%,
		#fff0 0% 100%
	);
	transform: translate3d(-7vmin, -5vmin, 0vmin) rotateX(-90deg) skewX(-12deg);
	transform-origin: center bottom;
	filter: blur(1px);
	opacity: 0.25;
	box-sizing: initial;
}

.signal em {
	background: #fff;
	width: 0.55vmin;
	height: 1.75vmin;
	float: right;
	margin-right: 0.75vmin;
	margin-left: 0.5vmin;
	margin-top: 0.25vmin;
}

.signal em:before {
	content: "";
	border: 0.75vmin solid transparent;
	border-bottom: 1vmin solid #fff;
	float: right;
	margin: -1.15vmin -0.45vmin 0 0;
}

/*** SIGNAL SURF  ***/

.signal + .signal {
	border-width: 0.3vmin;
	animation-delay: 7s;
	background: #fc0;
	color: #222;
	height: 2.25vmin;
	text-transform: uppercase;
	font-size: 1.125vmin;
	padding: 0.25vmin;
	border-color: #222;
	box-shadow: 0 0 0 0.25vmin #fc0;
	width: 9vmin;
}

.signal + .signal:before {
	height: 15vmin;
	transform: translateX(3vmin) translateY(-12.5vmin) translateZ(-0.1vmin);
}

.signal + .signal:after {
	background: linear-gradient(
		90deg,
		transparent 0 43%,
		#000 0% 53%,
		#fff0 0% 100%
	);
	width: 10vmin;
	transform: translate3d(1.25vmin, -8.25vmin, 1vmin) rotateX(-90deg)
		skewX(-12deg);
	filter: blur(1px);
	opacity: 0.25;
	transform-origin: center bottom;
	font-size: 8vmin;
	color: #000;
	line-height: 1vmin;
	content: "\25C6 \2582";
	height: 10vmin;
	width: 9vmin;
	white-space: pre;
	content: "\25C6 \A \2582";
}

.signal + .signal strong {
	font-size: 1vmin;
	transform: scaleY(1.5) scaleX(0.7);
	float: right;
	line-height: 1.2vmin;
	margin-right: 0;
}

.signal + .signal span {
	display: block;
	content: " ";
	position: absolute;
	background: #ffcc00;
	width: 5vmin;
	height: 5vmin;
	left: 1.55vmin;
	top: -7vmin;
	transform: rotate(45deg) translate3d(-1.65vmin, 0.75vmin, 0vmin);
	border: 0.25vmin solid #222;
	box-sizing: border-box;
	box-shadow: 0 0 0 0.2vmin #fc0;
	opacity: 1;
	filter: none;
	text-align: center;
	padding: 2vmin;
	font-size: 1.5vmin;
}

.signal + .signal span:before {
	content: "";
	background: linear-gradient(0deg, #222 45%, transparent 45% 55%, #222 0% 100%);
	width: 3.5vmin;
	height: 1vmin;
	position: absolute;
	border-radius: 100% 65% 65% 100%;
	transform: rotateZ(121deg);
	top: 1.15vmin;
	left: 0vmin;
}

.signal + .signal span:after {
	width: 3.5vmin;
	font-size: 2vmin;
	position: absolute;
	content: "";
	top: 1.5vmin;
	left: 1.05vmin;
	transform: rotate(-45deg);
	content: "\224B \224B";
}

/*** SIGNAL TITTY ***/

.signal + .signal + .signal {
	font-size: 1.25vmin;
	animation-delay: 4s;
	left: -16vmin;
	text-align: left;
	height: 4vmin;
	background: #7b5344;
	color: #e6e6e6;
	text-shadow: -1px -1px 0 #00000080, 1px 1px 0 #e2ac9880;
	box-shadow: 0 0 0 0.25vmin #7b5344;
	border-color: #e6e6e6;
	border-radius: 1px;
}

.signal + .signal + .signal:before {
	height: 10vmin;
	transform: translateX(1.75vmin) translateY(-5.5vmin) translateZ(-0.1vmin);
	background: linear-gradient(
		-90deg,
		#a27666,
		#9c6d5c,
		#63453b,
		#442f28,
		#46291e,
		#38190e
	);
}

.signal + .signal + .signal:after {
	background: linear-gradient(
		90deg,
		transparent 0 43%,
		#000 0% 53%,
		#fff0 0% 100%
	);
	width: 10vmin;
	transform: translate3d(2.5vmin, 3.85vmin, 1vmin) rotateX(90deg) skewX(-12deg)
		scale(1.1);
	filter: blur(2px);
	opacity: 0.25;
	transform-origin: center top;
	font-size: 8vmin;
	color: #000;
	line-height: 5vmin;
	height: 8vmin;
	width: 9vmin;
	content: "\2582";
}

.signal + .signal + .signal strong {
	font-size: 2.65vmin;
	transform: none;
	float: left;
	margin: 0.75vmin 0.5vmin 0 0;
}

.surf-tables {
	position: absolute;
	background: radial-gradient(#ffffff50, transparent);
	width: 7vmin;
	height: 13vmin;
	transform: translate3d(0.5vmin, 2.35vmin, 3vmin);
	border: 1px solid #ffffff20;
	border-radius: 0.25vmin;
}

.surf-tables span {
	position: absolute;
	background: linear-gradient(
		90deg,
		#506bff 0 45%,
		#4157cf 0 55%,
		#506bff 0% 100%
	);
	width: 3vmin;
	height: 10vmin;
	transform: rotate(8deg) translateX(2vmin);
	border: 2px solid #00000030;
	border-radius: 100% 100% 90% 90%;
	bottom: 5px;
	box-shadow: 1px 1px 1px 0 #00000080;
}

.surf-tables span + span {
	transform: translateX(3.5vmin) translateY(0.5vmin) translateZ(0.1vmin)
		rotateZ(-1deg);
	height: 12vmin;
	background: linear-gradient(0deg, #fc0, #f60);
	border-top-color: #d05900;
	border-bottom-color: #bd830b;
}

.surf-tables span + span + span {
	transform: translateX(2vmin) translateY(-1.5vmin) translateZ(0.1vmin)
		rotateZ(-13deg);
	height: 11vmin;
	background: linear-gradient(
			180deg,
			#03a9f4 0%,
			#f4433659 50% 90%,
			#03a9f4 100%
		),
		radial-gradient(#000 0%, transparent 75%) 0 0/ 0.15em 0.15em, #ff5757;
	border-bottom-color: transparent;
	border-top-color: #187eb2;
}

.surf-tables span + span + span + span {
	transform: rotateY(0deg) rotate(-3deg) translateX(0.25vmin) translateY(-3vmin)
		translateZ(0.19vmin);
	height: 9vmin;
	width: 2.5vmin;
	background: radial-gradient(
				3px 12.5px at 4px,
				rgba(255, 255, 255, 0) 50%,
				rgba(255, 255, 255, 0.25) 50%,
				rgba(255, 255, 255, 0.25) 55%,
				rgba(255, 255, 255, 0) 55%
			)
			0 0,
		radial-gradient(
				3px 12.5px at -1px,
				rgba(255, 255, 255, 0) 50%,
				rgba(255, 255, 255, 0.25) 50%,
				rgba(255, 255, 255, 0.25) 55%,
				rgba(255, 255, 255, 0) 55%
			)
			3px 3px,
		radial-gradient(
				5px 9px at 6px,
				rgba(255, 255, 255, 0) 50%,
				rgba(255, 255, 255, 0.3) 50%,
				rgba(255, 255, 255, 0.3) 55%,
				rgba(255, 255, 255, 0) 55%
			)
			0 0,
		radial-gradient(
				5px 9px at -1.5px,
				rgba(255, 255, 255, 0) 50%,
				rgba(255, 255, 255, 0.3) 50%,
				rgba(255, 255, 255, 0.3) 55%,
				rgba(255, 255, 255, 0) 55%
			)
			5px 8px,
		radial-gradient(
				7px 12.5px at 9px,
				rgba(255, 255, 255, 0) 50%,
				rgba(255, 255, 255, 0.25) 50%,
				rgba(255, 255, 255, 0.25) 55%,
				rgba(255, 255, 255, 0) 55%
			)
			0 0,
		radial-gradient(
				7px 12.5px at -2px,
				rgba(255, 255, 255, 0) 50%,
				rgba(255, 255, 255, 0.25) 50%,
				rgba(255, 255, 255, 0.25) 55%,
				rgba(255, 255, 255, 0) 55%
			)
			7px 7px,
		radial-gradient(#15ffa5, #00ced1);
	background-color: #00ff9d;
	background-size: 3px 22px, 3px 22px, 5px 16px, 5px 16px, 7px 22px, 7px 22px,
		100% 100%;
	background-repeat: repeat;
	border-bottom-color: #04b0a0;
	border-top-color: #00bdab;
}

.surf-tables span:after,
.surf-tables span:before {
	content: "";
	width: 0.75vmin;
	height: 0.75vmin;
	position: absolute;
	transform: rotateX(90deg) rotateY(90deg)
		translate3d(-0.5vmin, 0.35vmin, 0.95vmin);
	bottom: 0;
	box-sizing: initial;
	background: linear-gradient(135deg, #464646 0% 55%, transparent 60% 100%);
	border-radius: 0.125vmin;
}

.surf-tables span:before {
	transform: rotateX(90deg) rotateY(90deg)
		translate3d(-0.5vmin, 0.35vmin, 0.975vmin);
}

.surf-tables span + span:after {
	background: linear-gradient(135deg, #232323 0% 55%, transparent 60% 100%);
}

.surf-tables span + span:before {
	background: linear-gradient(135deg, #232323 0% 55%, transparent 60% 100%);
}

.surf-tables span + span + span:after {
	background: linear-gradient(135deg, #1683b9 0% 55%, transparent 60% 100%);
}

.surf-tables span + span + span:before {
	background: linear-gradient(135deg, #1683b9 0% 55%, transparent 60% 100%);
}

.surf-tables span + span + span + span:before {
	transform: rotateX(90deg) rotateY(90deg)
		translate3d(-0.5vmin, 0.35vmin, 0.675vmin);
}
.surf-tables span + span + span + span:after {
	background: linear-gradient(135deg, #004c00 0% 55%, transparent 60% 100%);
	transform: rotateX(90deg) rotateY(90deg)
		translate3d(-0.5vmin, 0.35vmin, 0.65vmin);
}

.surf-tables div {
	--fence: #313131;

	transform: rotateX(90deg) translate3d(0, 0.25vmin, 0.25vmin);
	background: repeating-linear-gradient(
		90deg,
		var(--fence) 0% 2%,
		transparent 2% 1.11vmin
	);
	width: 100%;
	height: 0.5vmin;
	border-bottom: 0.15vmin solid var(--fence);
}

.surf-tables div:nth-child(2) {
	transform: rotateX(90deg) translate3d(0, 0.25vmin, -12vmin);
}

.surf-tables div:nth-child(3) {
	transform: rotateY(90deg) translate3d(-0.5vmin, -1vmin, -0.05vmin);
	transform-origin: left center;
	height: 100%;
	width: 0.5vmin;
	background: repeating-linear-gradient(
		0deg,
		var(--fence) 0% 0.15vmin,
		transparent 0% 1.15vmin
	);
	border-left: 0.15vmin solid var(--fence);
}

.surf-tables div:nth-child(4) {
	transform: rotateY(90deg) translate3d(-0.5vmin, -13.85vmin, 6.85vmin);
	transform-origin: left center;
	height: 100%;
	width: 0.5vmin;
	background: repeating-linear-gradient(
		0deg,
		var(--fence) 0% 0.15vmin,
		transparent 0% 1.15vmin
	);
	border-left: 0.15vmin solid var(--fence);
}

/*** BUMPERS ***/

/*back*/
.bumper {
	background: linear-gradient(
		90deg,
		#111 0 2%,
		#ff9800 0 4%,
		#111 0 5%,
		#cc0000 0 12%,
		#111 0 88%,
		#cc0000 0 95%,
		#111 0 96%,
		orange 0 98%,
		#111 0 100%
	);
	width: 104%;
	height: 0.75vmin;
	position: absolute;
	transform: translate3d(-2%, 16vmin, -2vmin) rotateX(90deg);
	box-shadow: 0 0 0 0.1vmin #111 inset;
}

.bumper span {
	background: #252525;
	width: 100%;
	position: absolute;
	height: 100%;
	transform: rotateX(-90deg) translateZ(-1px);
	transform-origin: center bottom;
}

.bumper span + span {
	background: #333333;
	width: 0.75vmin;
	position: absolute;
	height: 100%;
	transform: rotateY(-90deg);
	transform-origin: left bottom;
}

.bumper span + span + span {
	transform: rotateY(-90deg) translate3d(0%, 0vmin, -8.375vmin);
	transform-origin: left bottom;
}

.bumper span + span + span + span {
	width: 100%;
	transform: rotateY(0deg) translate3d(0%, 0vmin, 0.75vmin);
}

/*limpiaparabrisas*/
.bumper:before {
	content: "";
	width: 3vmin;
	height: 0.1vmin;
	position: absolute;
	background: #353535;
	transform: translate3d(1vmin, 2.85vmin, 0.25vmin) rotate(-2deg);
}

.bumper:after {
	content: "";
	width: 1vmin;
	height: 0.1vmin;
	position: absolute;
	background: #3a3a3a;
	transform: translate3d(3vmin, 2.65vmin, 0.25vmin) rotate(-15deg);
	border-right: 0.25vmin dashed #5a5a5a;
}

/* matricula */
.bumper span:nth-child(1):before {
	content: "1234BBK";
	background: #fff;
	position: absolute;
	font-size: 0.45vmin;
	border-left: 0.35vmin solid #2121ff;
	left: calc(50% - 1.35vmin);
	min-width: 2.5vmin;
	box-sizing: border-box;
	box-shadow: 0.025vmin -0.02vmin 0 0.05vmin #0000004d;
	transform: rotateX(-90deg) translate3d(0.1vmin, -0.65vmin, 0.2vmin);
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #444;
	padding: 0.05vmin 0.15vmin 0 0;
}

/*front*/
.bumper + .bumper {
	transform: translate3d(-2%, -0.6vmin, -2vmin) rotateX(-90deg) rotatez(180deg)
		rotateY(360deg);
	background: linear-gradient(
		90deg,
		#111 0 2%,
		#ff9800 0 4%,
		#111 0 5%,
		#dcdcdc 0 12%,
		#111 0 88%,
		#dcdcdc 0 95%,
		#111 0 96%,
		orange 0 98%,
		#111 0 100%
	);
}
.bumper + .bumper span:nth-child(1):before {
	transform: rotateX(-90deg) translate3d(0.1vmin, 0.3vmin, 0.5vmin);
}

.bumper + .bumper:before {
	transform: translate3d(1vmin, 2.95vmin, 1.15vmin) rotate(-2deg);
}

.bumper + .bumper:after {
	transform: translate3d(3vmin, 2.75vmin, 1.125vmin) rotate(-15deg);
}

.plants {
	width: 1vmin;
	height: 100%;
	position: absolute;
	left: calc(0% - 1.5vmin);
}

.plants span {
	background: radial-gradient(circle at 70% 70%, #42883f, #6ea753);
	width: 3.25vmin;
	height: 1.75vmin;
	position: absolute;
	border-radius: 100% 100% 100% 100%;
	transform: translate3d(-0.5vmin, 100vmin, 0vmin) rotateX(-90deg);
	transform-origin: center bottom;
	border: 0.2vmin dashed #7db955;
	filter: blur(1px);
	box-shadow: 0 0.1vmin 0.5vmin #00000010;
	animation: plantsview 4s linear 1s infinite;
	left: -3.5vmin;
	opacity: 0.95;
	border-bottom-color: #00000080;
}

@keyframes plantsview {
	0%,
	10% {
		transform: rotateX(-90deg) translate3d(2vmin, 0, -100vmin);
	}
	10% {
		transform: rotateX(-90deg) translate3d(2vmin, 0, -27vmin);
	}
	90%,
	100% {
		transform: rotateX(-90deg) translate3d(2vmin, 0, 100vmin);
	}
}

.plants span:nth-child(2) {
	animation-delay: 0.3s;
	left: -2.75vmin;
	width: 4.5vmin;
	width: 2.85vmin;
}

.plants span:nth-child(3) {
	animation-delay: 0.65s;
	left: -4.25vmin;
}

.plants span:nth-child(4) {
	animation-delay: 0.675s;
	left: -7.65vmin;
	width: 5vmin;
}

.plants span:nth-child(5) {
	animation-delay: 1.15s;
	left: -3.65vmin;
}

.plants span:nth-child(6) {
	animation-delay: 1.55s;
	width: 2.85vmin;
}

.plants span:nth-child(7) {
	animation-delay: 2.15s;
	width: 3.75vmin;
}

.plants span:nth-child(8) {
	animation-delay: 2.85s;
	width: 2.75vmin;
}

.plants span:nth-child(9) {
	animation-delay: 3.65s;
	width: 3.5vmin;
}

.plants + .plants {
	left: calc(100% + 1.5vmin);
	animation-duration: 4.25s;
}

.plants + .plants span:nth-child(1) {
	animation-delay: 3.75s;
	left: -4.75vmin;
	width: 3.85vmin;
}

.plants + .plants span:nth-child(2) {
	animation-delay: 3.75s;
	left: -1.75vmin;
	width: 2.85vmin;
}

.plants + .plants span:nth-child(3) {
	animation-delay: 2.9s;
	left: -2.75vmin;
}

.plants + .plants span:nth-child(4) {
	animation-delay: 2.35s;
	left: -3.35vmin;
	width: 5vmin;
}

.plants + .plants span:nth-child(5) {
	animation-delay: 1.75s;
	left: -2.65vmin;
}

.plants + .plants span:nth-child(6) {
	animation-delay: 1.35s;
	width: 3.85vmin;
}

.plants + .plants span:nth-child(7) {
	animation-delay: 1.05s;
	width: 2.75vmin;
}

.plants + .plants span:nth-child(8) {
	animation-delay: 0.75s;
	width: 3.75vmin;
}

.plants + .plants span:nth-child(9) {
	animation-delay: 0.4s;
	width: 2.5vmin;
}

/*** CARRIL ***/
.side:nth-of-type(3):before {
	content: "";
	background: linear-gradient(
		90deg,
		#444,
		#444,
		#fff0,
		#323232,
		#323232,
		#fff0,
		#444,
		#444
	);
	width: 0.35vmin;
	height: 5vmin;
	position: absolute;
	left: 3vmin;
	top: 9.95vmin;
}

.side:nth-of-type(3):after {
	content: "";
	background: linear-gradient(90deg, #444, #323232, #323232, #323232, #444);
	width: 0.65vmin;
	height: 0.275vmin;
	position: absolute;
	left: 3vmin;
	top: 5.15vmin;
	box-shadow: 0 -0.85vmin 0 0 #333;
}

.side:nth-of-type(4):after {
	content: "";
	background: #333;
	width: 0.65vmin;
	height: 0.275vmin;
	position: absolute;
	left: 3vmin;
	top: 4.25vmin;
}

/*** MIRRORS ***/
.mirrors {
	background: #565656;
	width: 100%;
	height: 0.5vmin;
	position: absolute;
	transform: translate3d(0vmin, 1vmin, 0vmin);
	border-radius: 0 0 100% 100%;
}

.mirrors div {
	background: linear-gradient(
			45deg,
			transparent 0 30%,
			#ffffff30 31% 35%,
			transparent 36% 40%,
			#ffffff20 41% 43%,
			transparent 42% 50%
		),
		#87daff;
	position: absolute;
	right: 0;
	width: 0.75vmin;
	height: 1vmin;
	transform: rotateX(90deg) translateX(0.75vmin) translateY(0.5vmin)
		translateZ(0.1vmin);
	border-radius: 0.1vmin;
}
.mirrors div + div {
	right: 100%;
	transform: rotateX(90deg) translateX(0vmin) translateY(0.5vmin)
		translateZ(0.1vmin);
}

.mirrors div span {
	background: #222;
	width: 100%;
	height: 0.25vmin;
	position: absolute;
	transform: rotateX(90deg) translate3d(0vmin, 0.25vmin, 0.25vmin);
	transform-origin: center bottom;
}

.mirrors div span:nth-child(2) {
	transform: rotateX(90deg) translate3d(0vmin, 0.25vmin, -0.75vmin);
}

.mirrors div span:nth-child(3) {
	transform: rotateX(90deg) rotateY(90deg)
		translate3d(0.25vmin, 0.25vmin, 0.25vmin);
	width: 1vmin;
}

.mirrors div span:nth-child(4) {
	height: 100%;
	transform: rotateX(0deg) rotateY(0deg) translate3d(0vmin, 0vmin, 0.25vmin);
}

.mirrors div + div span:nth-child(3) {
	transform: rotateX(90deg) rotateY(90deg)
		translate3d(0.25vmin, 0.25vmin, -0.5vmin);
}