<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="枕边听松语，槛外看潮生。">
    <meta name="keywords" content="BY, BY Blog, 听松阁,  美文, 古典诗词">
    <meta name="theme-color" content="#000000">
    
    <title>听松阁 | 660000.xyz</title>


    <!-- Favicon -->
    <link rel="shortcut icon" href="https://code.aliyun.com/free163/publiclib/raw/08265923287e8067a337694679fca2c0344126f2/blog.4y.gs/img/favicon.ico">

    <!-- Safari Webpage Icon    by-BY -->
    <link rel="apple-touch-icon" href="../../images/appleutf8/apple-touch-icon.png">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="../../images/appleutf8/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../../images/appleutf8/hux-blog.min.css">

    <!-- Pygments Github CSS -->
    <link rel="stylesheet" href="../../images/appleutf8/syntax.css">

    <link href="../../images/appleutf8/font-awesome.min.css" rel="stylesheet" type="text/css">

   <link rel="stylesheet" href="../../images/appleutf8/main.css">

<link rel="stylesheet" href="../../images/appleutf8/list/bootstrap.min.css"> 
<link rel="stylesheet" href="../../images/appleutf8/list/main.css"> 
<link rel="stylesheet" href="../../images/appleutf8/list/font-awesome.min.css">

<!-- hack iOS CSS :active style -->
<body ontouchstart="">


<div class="fish" style="position:absolute; width:100%; height:100%; z-index:1; left: 0px; top: 0px;backgroud-color:000;"> 
<center><SCRIPT language=JavaScript src="../../images/mainnew.js"></SCRIPT></center>
</div>

<div style="position:absolute; width:100%; height:100%; z-index:2; left: 0px; top: 0px;backgroud-color:000;"> 
	

    <!-- Page Header -->
<header class="intro-header" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
                    <h1><font color=white>{locality}</font></h1>
                    <!--<hr class="small">-->
                    <span class="subheading">枕边听松语，槛外看潮生。</span>
                </div>
            </div>
        </div>
    </div>
</header>


<div style="position:absolute; width:100%; height:20px; z-index:4; left: 93px; top: 525px; backgroud-color:000;color:000;"> 
<p ><A href="../../">首 页</A> | 
{putsort1} 
 </p> 
</div>


<div style="position:absolute; width:100%; height:100%; z-index:3; left: 0px; top: 530px; backgroud-color:000;"> 


<div class="container"> 
 <div class="wrapper"> 
 	<div class="home py-4 py-md-5"> 
 		<div class="row"> 


<!-- 这里是相册列表 ---->


{articlelist}		
 	

		
 			
<!-- 这里是相册列表 ---->		
   </div> 
  </div> 
 </div> 
</div> 


	
<div align="center">
共有<font color=#FF0000><b>{total}</b></font>条记录&nbsp;&nbsp;{multipage}
</div>



<table border='0' align='center' cellpadding='5' cellspacing='0' width='100%'>
<tr>
<td height='23' align='center'></td>
</tr>
</table>


<!-- Main Content -->
<div class="container">
	<div class="row">
        
</div> 
	</div>


    <!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    

                    
                    
                </ul>
                <p class="copyright text-muted">
                    Copyright @ 听松阁 2021
                    <br>
                    Theme on <a href="https://github.com">GitHub</a> | Power by <a href="http://www.660000.xyz">听松阁</a>
                    
                    <br>
                    <iframe name="top" src="../../images/appleutf8/ad.html" align="MIDDLE" width="728" height="90" marginwidth="0" marginheight="0" frameborder="0" scrolling="no">
                    </iframe>
                </p>
            </div>
        </div>
    </div>
</footer>

</div>
</div>
</body>
</html>