<!-- BEGIN RowArticle -->

<!--
	<a href="{article_url}" target=_blank>
		<img src="{article_author}" width="400" height="250" border="0">
		</a><br>
{article_title}
-->
<td>
<div class="container">
<div class="row"> 					
   <div class="col-12 col-md-6 col-lg-4">
	  <a href="{article_url}" class="index-anchor"> 
		<div class="card"> <div class="image"> 
			<img height="220" src="{article_author}" alt=""> 
			<div class="card-body"> 
				<h3 class="panel-title font-weight-bold">{article_title}</h3> 
			</div>
		</div>
	  </a>
	 </div> 
	</div>
</div>
</td>

<!-- END RowArticle -->
<!-- BEGIN RowBr -->
<!-- END RowBr -->