<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="枕边听松语，槛外看潮生。">
    <meta name="keywords" content="BY, BY Blog, 听松阁,  美文, 古典诗词">
    <meta name="theme-color" content="#000000">
    
    <title>听松阁 | 660000.xyz</title>


    <!-- Favicon -->
    <link rel="shortcut icon" href="https://code.aliyun.com/free163/publiclib/raw/08265923287e8067a337694679fca2c0344126f2/blog.4y.gs/img/favicon.ico">

    <!-- Safari Webpage Icon    by-BY -->
    <link rel="apple-touch-icon" href="../../images/appleutf8/apple-touch-icon.png">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="../../images/appleutf8/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../../images/appleutf8/hux-blog.min.css">

    <!-- Pygments Github CSS -->
    <link rel="stylesheet" href="../../images/appleutf8/syntax.css">

    <link href="../../images/appleutf8/font-awesome.min.css" rel="stylesheet" type="text/css">

   <link rel="stylesheet" href="../../images/appleutf8/main.css">

<link rel="stylesheet" href="../../images/appleutf8/list/bootstrap.min.css"> 
<link rel="stylesheet" href="../../images/appleutf8/list/main.css"> 
<link rel="stylesheet" href="../../images/appleutf8/list/font-awesome.min.css">

<!-- hack iOS CSS :active style -->
<body ontouchstart="">


<div class="fish" style="position:absolute; width:100%; height:100%; z-index:1; left: 0px; top: 0px;backgroud-color:000;"> 
<center><SCRIPT language=JavaScript src="../../images/mainnew.js"></SCRIPT></center>
</div>

<div style="position:absolute; width:100%; height:100%; z-index:2; left: 0px; top: 0px;backgroud-color:000;"> 
	

    <!-- Page Header -->
<header class="intro-header" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
                    <h1><font color=white>{locality}</font></h1>
                    <!--<hr class="small">-->
                    <span class="subheading">枕边听松语，槛外看潮生。</span>
                </div>
            </div>
        </div>
    </div>
</header>


<div style="position:absolute; width:100%; height:20px; z-index:4; left: 93px; top: 525px; backgroud-color:000;color:000;"> 
<p ><A href="../../">首 页</A> | 
{putsort1} 
 </p> 
</div>


<div style="position:absolute; width:100%; height:100%; z-index:3; left: 0px; top: 530px; backgroud-color:000;"> 



<!-- 这里是相册列表 ---->

<div class="container"> 
 <div class="wrapper"> 
 	<div class="home py-4 py-md-5"> 
 		<div class="row"> 
 			
 			
 			<div class="col-12 col-md-6 col-lg-4"> 
 				<a href="./html/QingChun/" target="_blank" class="index-anchor"> 
 					<div class="card"> 
 						<div class="image"> 
 							<img height="220" src="https://code.aliyun.com/free163/publiclib/raw/4e2296753d85d18b64894bb85cd7c715bf5e8afe/photopig/index/QingChun.jpg" alt="《清纯唯美》"> 
 							<div class="card-body"> 
 								<h3 class="panel-title font-weight-bold">《清纯唯美》</h3> 
 								<p class="p-0 my-1 mx-0">
 									<span class="post-meta"><small>Jan 30, 2021</small></span></p> 
 							  <p>清纯唯美图册[176套]</p> 
 							</div> 
 						</div> 
 					</div> 
 				</a>
 			</div> 
 			<div class="col-12 col-md-6 col-lg-4"> 
 				<a href="./html/XingGan/" target="_blank" class="index-anchor"> 
 					<div class="card"> 
 						<div class="image"> 
 							<img height="220" src="https://code.aliyun.com/free163/publiclib/raw/4e2296753d85d18b64894bb85cd7c715bf5e8afe/photopig/index/XingGan.jpg" alt="《金梓琳明艳动人 华灯初上夜会霓裳[35P]》"> 
 							<div class="card-body"> 
 								<h3 class="panel-title font-weight-bold">《性感丽人》</h3> 
 								<p class="p-0 my-1 mx-0"><span class="post-meta"><small>Jan 29, 2021</small></span></p> 
 								<p>性感丽人图册[1194套]</p> 
 							</div> 
 						</div> 
 					</div> 
 				</a> 
 			</div> 
 			<div class="col-12 col-md-6 col-lg-4"> 
 				<a href="./html/Star/" target="_blank" class="index-anchor"> 
 					<div class="card"> <div class="image"> 
 						<img height="220" src="https://code.aliyun.com/free163/publiclib/raw/4e2296753d85d18b64894bb85cd7c715bf5e8afe/photopig/index/Star.jpg" alt="《星光灿烂》"> 
 						<div class="card-body"> 
 							<h3 class="panel-title font-weight-bold">《星光灿烂》</h3> 
 							<p class="p-0 my-1 mx-0"><span class="post-meta"><small>Jan 28, 2021</small></span></p> 
 							<p>星光灿烂图册[10套]</p> 
 						</div> 
 					</div> 
 				</div> 
 			</a> 
 		</div> 
 		
 		
 		
 		<div class="col-12 col-md-6 col-lg-4"> 
 				<a href="./html/BanZang/" target="_blank" class="index-anchor"> 
 					<div class="card"> 
 						<div class="image"> 
 							<img height="220" src="https://code.aliyun.com/free163/publiclib/raw/4e2296753d85d18b64894bb85cd7c715bf5e8afe/photopig/index/BanZang.jpg" alt="半藏森林》"> 
 							<div class="card-body"> 
 								<h3 class="panel-title font-weight-bold">《半藏森林》</h3> 
 								<p class="p-0 my-1 mx-0">
 									<span class="post-meta"><small>Jan 30, 2021</small></span></p> 
 							  <p>半藏森林图册[54套]</p> 
 							</div> 
 						</div> 
 					</div> 
 				</a>
 			</div> 
 			<div class="col-12 col-md-6 col-lg-4"> 
 				<a href="./html/Phone/" target="_blank" class="index-anchor"> 
 					<div class="card"> 
 						<div class="image"> 
 							<img height="220" src="https://code.aliyun.com/free163/publiclib/raw/4e2296753d85d18b64894bb85cd7c715bf5e8afe/photopig/index/ShouJi.jpg" alt="《手机美图》"> 
 							<div class="card-body"> 
 								<h3 class="panel-title font-weight-bold">《手机美图》</h3> 
 								<p class="p-0 my-1 mx-0"><span class="post-meta"><small>Jan 29, 2021</small></span></p> 
 								<p>手机美图图册[70套]</p> 
 							</div> 
 						</div> 
 					</div> 
 				</a> 
 			</div> 
 			<div class="col-12 col-md-6 col-lg-4"> 
 				<a href="./html/XiuRen/" target="_blank" class="index-anchor"> 
 					<div class="card"> <div class="image"> 
 						<img height="220" src="https://code.aliyun.com/free163/publiclib/raw/4e2296753d85d18b64894bb85cd7c715bf5e8afe/photopig/index/XiuRen.jpg" alt="《秀人网》"> 
 						<div class="card-body"> 
 							<h3 class="panel-title font-weight-bold">《秀人网》</h3> 
 							<p class="p-0 my-1 mx-0"><span class="post-meta"><small>Jan 28, 2021</small></span></p> 
 							<p>秀人网图册[1800套]</p> 
 						</div> 
 					</div> 
 				</div> 
 			</a> 
 		</div> 
 		

 		<div class="col-12 col-md-6 col-lg-4"> 
 				<a href="./html/BiZhi/" target="_blank" class="index-anchor"> 
 					<div class="card"> 
 						<div class="image"> 
 							<img height="220" src="https://code.aliyun.com/free163/publiclib/raw/f78cf17b4454b33dde8ab44d184863e3356c6548/photopig/index/BiZhi.jpg" alt="《高清壁纸》"> 
 							<div class="card-body"> 
 								<h3 class="panel-title font-weight-bold">《高清壁纸》</h3> 
 								<p class="p-0 my-1 mx-0">
 									<span class="post-meta"><small>Jan 30, 2021</small></span></p> 
 							  <p>高清壁纸图册[5套]</p> 
 							</div> 
 						</div> 
 					</div> 
 				</a>
 			</div> 
 			<div class="col-12 col-md-6 col-lg-4"> 
 				<a href="./html/WangLuo/" target="_blank" class="index-anchor"> 
 					<div class="card"> 
 						<div class="image"> 
 							<img height="220" src="https://code.aliyun.com/free163/publiclib/raw/7f85ba1515548a59e4954b7e54f7ef1993e477ec/photopig/index/WangLuo2.jpg" alt="《网络美图》"> 
 							<div class="card-body"> 
 								<h3 class="panel-title font-weight-bold">《网络美图》</h3> 
 								<p class="p-0 my-1 mx-0"><span class="post-meta"><small>Jan 29, 2021</small></span></p> 
 								<p>网络美图图册[1515套]</p> 
 							</div> 
 						</div> 
 					</div> 
 				</a> 
 			</div> 
 			<div class="col-12 col-md-6 col-lg-4"> 
 				<a href="./html/Ugirls/" target="_blank" class="index-anchor"> 
 					<div class="card"> <div class="image"> 
 						<img height="220" src="https://code.aliyun.com/free163/publiclib/raw/0bb5e4aec8d0bdd1a4ebcda03491b9b8a3115e28/photopig/index/Ugirls.jpg" alt="《Ugirls爱尤物》"> 
 						<div class="card-body"> 
 							<h3 class="panel-title font-weight-bold">《Ugirls爱尤物》</h3> 
 							<p class="p-0 my-1 mx-0"><span class="post-meta"><small>Jan 28, 2021</small></span></p> 
 							<p>Ugirls爱尤物[335套]</p> 
 						</div> 
 					</div> 
 				</div> 
 			</a> 
 		</div> 
 		


              <div class="col-12 col-md-6 col-lg-4"> 
 				<a href="./html/WeiMei/" target="_blank" class="index-anchor"> 
 					<div class="card"> 
 						<div class="image"> 
 							<img height="220" src="https://code.aliyun.com/free163/publiclib/raw/546c409490ebeb3f15c56cfadbf03a63988da64d/photopig/index/WeiMei.jpg" alt="《清纯系美女》"> 
 							<div class="card-body"> 
 								<h3 class="panel-title font-weight-bold">《清纯系美女》</h3> 
 								<p class="p-0 my-1 mx-0"><span class="post-meta"><small>Jan 29, 2021</small></span></p> 
 								<p>清纯系美女[270套]</p> 
 							</div> 
 						</div> 
 					</div> 
 				</a> 
 			</div>

		<div class="col-12 col-md-6 col-lg-4"> 
 				<a href="./html/Japan/" target="_blank" class="index-anchor"> 
 					<div class="card"> 
 						<div class="image"> 
 							<img height="220" src="https://code.aliyun.com/free163/publiclib/raw/c664c83e5dca2f5cdfb8cc060d5026ad2ea743fa/photopig/index/WangLuo.jpg" alt="《日本套图》"> 
 							<div class="card-body"> 
 								<h3 class="panel-title font-weight-bold">《日本套图》</h3> 
 								<p class="p-0 my-1 mx-0"><span class="post-meta"><small>Jan 29, 2021</small></span></p> 
 								<p>日本套图图册[6200套]</p> 
 							</div> 
 						</div> 
 					</div> 
 				</a> 
 			</div>
		<div class="col-12 col-md-6 col-lg-4"> 
 				<a href="../html/Usa/" target="_blank" class="index-anchor"> 
 					<div class="card"> 
 						<div class="image"> 
 							<img height="220" src="https://code.aliyun.com/free163/publiclib/raw/c664c83e5dca2f5cdfb8cc060d5026ad2ea743fa/photopig/index/WangLuo.jpg" alt="《欧美套图》"> 
 							<div class="card-body"> 
 								<h3 class="panel-title font-weight-bold">《欧美套图》</h3> 
 								<p class="p-0 my-1 mx-0"><span class="post-meta"><small>Jan 29, 2021</small></span></p> 
 								<p>欧美套图图册[1515套]</p> 
 							</div> 
 						</div> 
 					</div> 
 				</a> 
 			</div>
		
   </div> 
  </div> 


<!-- 这里是相册列表 ---->
	
<div>
共有<font color=#FF0000><b>{total}</b></font>条记录&nbsp;&nbsp;{multipage}
</div>



<table border='0' align='center' cellpadding='5' cellspacing='0' width='100%'>
<tr>
<td height='23' align='center'></td>
</tr>
</table>


<!-- Main Content -->
<div class="container">
	<div class="row">
        
</div> 
	</div>


    <!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    

                    
                    
                </ul>
                <p class="copyright text-muted">
                    Copyright @ 听松阁 2021
                    <br>
                    Theme on <a href="https://github.com">GitHub</a> | Power by <a href="http://www.660000.xyz">听松阁</a>
                    
                    <br>
                    <iframe name="top" src="../../images/appleutf8/ad.html" align="MIDDLE" width="728" height="90" marginwidth="0" marginheight="0" frameborder="0" scrolling="no">
                    </iframe>
                </p>
            </div>
        </div>
    </div>
</footer>

</div>
</div>
</body>
</html>